<header class="header-mobile">

    <div class="header-menu" data-toggle="overlay-shadow" data-target="#menu-mobile">
        <div></div>
        <div></div>
        <div></div>
    </div>

    {% element 'snippets/header-search' %}

    <a class="cart-toggle" href="{{ links.cart }}" title="Carrinho">
        <i class="icon icon-shopping-cart v-align-middle"></i>
        <span class="cart-quantity" data-cart="amount"></span>
    </a>

</header>

<header class="header">

    <div class="bg">

        <div class="line flex align-center justify-between container">

            <div class="header-menu" data-toggle="overlay-shadow" data-target="#menu-mobile">
                <div></div>
                <div></div>
                <div></div>
            </div>

            {% set logoStore = Image('logo_loja') %}
            <a class="logo" href="{{ store.url }}" title="{{ store.name }}">
                <h1 class="title-store">{{ store.name }}</h1>
            </a>
            {% if settings.facebook_profile %}
                <a class="redes-sociais--mobile--face" href="{{ settings.facebook_profile }}" title="Facebook" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
                    <i class="icon icon-facebook v-align-middle"></i>
                </a>
            {% endif %}

            {% if settings.instagram_profile %}
                <a class="redes-sociais--mobile" href="{{ settings.instagram_profile }}" title="Instagram" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
                    <i class="icon icon-instagram v-align-middle"></i>
                </a>
            {% endif %}
            {% if utils.is_mobile %}
                {% element 'snippets/minicart-preview' %}
            {% endif %}
            {% element 'snippets/header-search' %}

            <div class="account flex align-center">

                <i class="account-icon icon icon-login-new"></i>

                <div class="tray-hide" data-logged-user="true">
                    <span>Ol&aacute;, <span data-customer="name"></span></span>
                    <div class="login-links">
                        <a href="{{ links.central }}" title="Minha Conta">Minha conta</a>
                        <span>/</span>
                        <a href="{{ links.logout }}" title="Sair">Sair</a>
                    </div>
                </div>  
                <div data-logged-user="false">
                    <span>Minha Conta</span>
                    <div class="login-links">
                        <a href="{{ links.login }}" title="Entrar">Entrar</a>
                        <span>/</span>
                        <a href="{{ links.register }}" title="Cadastrar">Cadastrar</a>
                    </div>
                </div> 
            </div>
            {% if not utils.is_mobile %}
                {% element 'snippets/minicart-preview' %}
            {% endif %}
        </div>
    </div>

    {% element 'snippets/menu' %}

</header>